<!-- Type in the following code and save it in the file "book.html" inside the folder "templates" -->

<html>
	<head>
		
	</head>
	<body>
		<p>This is the books page</p>
		<a href="{{url_for('index')}}">Main Menu</a> <br/>
	</body>
</html>
 <!-- end of book.html -->
